@font-face {
    font-family: "Work Sans";
    src: url(fonts/WorkSans-Regular.ttf);
}
     @font-face {
    font-family: 'SmithenGoulding';
    src:url(fonts/SmithenGoulding-PKY6d.otf);
    }

@import "tailwindcss";

@theme{
    --font-SmithenGoulding: "SmithenGoulding";
}

@theme {
  --font-WorkSans: "Work Sans";

  /* Custom breakpoints */
  --breakpoint-sm-m: 375px;
  --breakpoint-sm-l: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}